# Folders
Library/
Temp/
Build/
obj/
bin/

# UnityJarResolver creates this
iOS/**

# Project/User Preference Files
*.pidb
*.user
*.suo
*.sln
*.csproj
*.userprefs
*.unityproj
unity-build.log
unity-test-results.xml
ProjectSettings/*
!ProjectSettings/ProjectSettings.asset

# Native dependencies (add exclusions below)
Assets/Plugins/Android/
!Assets/Plugins/Android/deltadna-sdk-unity-notifications
Assets/DeltaDNA/Ads/Resources*

# Other
*.pfx
Assets/MetroTestCertificate.pfx.meta
Assets/WSATestCertificate.pfx.meta

# OS Junk
Thumbs.db
.DS_Store*
ehthumbs.db
Icon7

# VS / VSCode
Assets/VSCode*
.vscode/
.vs/

# IDEA
.idea/

